@model GameStore.Domain.Entities.ShippingDetails
@{
    ViewBag.Title = "GameStore: форма заказа";
}
<link href="~/Content/payment-card.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/payment-card.js"></script>
<h2>Оформить заказ сейчас</h2>
<p>Пожалуйста введи ваши контактные данные, и мы сразу отправим товар!</p>


@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <h3>Данные</h3>
    <div class="form-group">
        <label>Ваше имя:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <h3>Адрес доставки</h3>
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }
	<div class="container" id="cont-card">
		<div class="col1">
			<div class="card">
				<div class="front">
					<div class="type">
						<img class="bankid" style="width:80px;"/>
					</div>
					<span class="chip"></span>
					<span class="card_number">&#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; </span>
					<div class="date"><span class="date_value">MM / YYYY</span></div>
					<span class="fullname">FULL NAME</span>
				</div>
				<div class="back">
					<div class="magnetic"></div>
					<div class="bar"></div>
					<span class="seccode">&#x25CF;&#x25CF;&#x25CF;</span>
					<span class="chip"></span><span class="disclaimer">This card is property of Random Bank of Random corporation. <br> If found please return to Random Bank of Random corporation - 21968 Paris, Verdi Street, 34 </span>
				</div>
			</div>
		</div>
		<div class="col2">
			<label>Card Number</label>
			<input class="number form-control" type="text" ng-model="ncard" maxlength="19" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  />
			<label>Cardholder name</label>
			<input class="inputname form-control" type="text" placeholder="" />
			<label>Expiry date</label>
			<input class="expire form-control" type="text" placeholder="MM / YYYY" />
			<label>Security Number</label>
			<input class="ccv form-control" type="text" placeholder="CVC" maxlength="3" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
		</div>
	</div>

    <h3>Опции</h3>
	<div class="checkbox">
		<label>
			@Html.EditorFor(x => x.GiftWrap)
			Использовать подарочную упаковку?
		</label>
	</div>
	<div class="text-center">
		<input class="btn btn-primary buy" type="submit" value="Обработать заказ" style="margin-top:350px;margin-right:300px;" />
	</div>
}