<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="~/Content/bootstrap.css" rel="stylesheet"/>
	<link href="~/Content/bootstrap-theme.css" rel="stylesheet"/>
	<link href="~/Content/ErrorStyles.css" rel="stylesheet"/>
	<title>@ViewBag.Title</title>
	<style>
        .navbar-right {
            float: right !important;
            margin-right: 15px;
            margin-left: 15px;
        }
    </style>
</head>
<body>
<div class="navbar navbar-inverse" role="navigation">
	<a class="navbar-brand" href="#">
		<span class="hidden-xs"> LineBasketball - магазин баскетбольной атрибутики</span>
		<div class="visible-xs">Line</div>
		<div class="visible-xs">Basketball</div>

	</a>
	@Html.Action("Summary", "Cart")

</div>
@using (Html.BeginForm("Search", "Game", FormMethod.Get))
{
	<div class="search-form">
		<form action="@Url.Action("Search", "Game")" method="get">
			<input type="text" name="searchTerm" placeholder="Поиск по названию товара"/>
			<button type="submit">Найти</button>
		</form>
	</div>
}
<div class="visible-xs">
	@Html.Action("Menu", "Nav", new { horizontalNav = true })
</div>
<div class="row panel">
	<div id="categories" class="col-sm-3 hidden-xs">
		@Html.Action("Menu", "Nav")
	</div>
	<div class="col-xs-12 col-sm-8">
		@RenderBody()
	</div>
</div>
<style>
    .search-form {
        margin-left:58px;
        margin-bottom: 20px;
    }

    .search-form input[type="text"] {
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 10px;
    }

    .search-form button {
        padding: 8px 12px;
        font-size: 16px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .search-form button:hover {
            background-color: #45a049;
        }

</style>
</body>
</html>